
header {
    display: block;
    position: relative;
}


img{
    width: 100%;
    height:90%;
}

.header-inner.clearfix.tn-container{
   position: absolute;
   bottom: 50%;
   left: 50%; 
}

#test{
    color:red;
}

.fa-facebook,.fa-twitter,.fa-pinterest,.fa-heart,.fa-instagram{
    color: white
}

.social-icons a{
    margin-right: 40px;
    position: center
}